affine==2.3.0
attrs==20.3.0
boto3==1.16.19
botocore==1.19.19
certifi==2020.11.8
click==7.1.2
click-plugins==1.1.1
cligj==0.7.0
cycler==0.10.0
dask==2.30.0
Fiona==1.8.18
geopandas==0.8.1
humanize==3.1.0
jmespath==0.10.0
kiwisolver==1.3.1
gis-packer==0.0.1
matplotlib==3.3.3
munch==2.5.0
numpy==1.19.4
pandas==1.1.4
Pillow==8.0.1
psycopg2==2.8.6
pyparsing==2.4.7
pyproj==3.0.0.post1
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
rasterio==1.1.8
s3transfer==0.3.3
Shapely==1.7.1
six==1.15.0
snuggs==1.4.7
SQLAlchemy==1.3.20
toolz==0.11.1
urllib3==1.26.2
xarray==0.16.1
